footer{
    padding: 50px 0;
    background-color: #0b2543;
}
footer *{
    color: white;
}
footer li{
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}
footer .container{
    display: flex;
    gap: 20px;
}
.links{
    display: grid;
    grid-template-columns: 200px 200px;
}

footer h4{
    margin-bottom: 16px;
}
