.App {
  text-align: center;
}
body{
  background-color: #e2ecf7;
}
*{
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

.container{
  max-width: 1240px;
  margin: auto;
}
.btn.primary{
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  color: white;
  background-color: var(--gold);
  text-transform: capitalize;
  color: black;
  font-weight: 600;
  border-radius: 2px;
}
#hero img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.flex{
  display: flex;
}
#social-welfare{
  background-color: white;
  padding: 50px 0;
}
#social-welfare .container h2{
  margin-bottom: 20px;
}
#social-welfare .container p{
  margin-bottom: 16px;
}
#social-welfare .container{
  gap: 20px;
}

#copyright{
  background-color: #04182f;
  font-size: 12px;
  padding: 16px;
  color: white;
}
#copyright .container{
  display: flex;
  justify-content: space-between;
}
#copyright span:first-child{
  border-right: 1px solid white;
}
#copyright span{
  padding: 0 8px;
}